<mat-tab-group>
  <mat-tab label="All Resolving Sets">
    <ng-template matTabContent><app-all-resolving-sets></app-all-resolving-sets></ng-template>
  </mat-tab>
  <mat-tab label="Only Metric Dimension">
    <ng-template matTabContent><app-only-metric-dimension></app-only-metric-dimension></ng-template>
  </mat-tab>
  <mat-tab label="Discernibility Matrix">
    <ng-template matTabContent><app-discernibility-matrix></app-discernibility-matrix></ng-template>
  </mat-tab>
  <mat-tab label="Reducts via discernibility matrix">
    <ng-template matTabContent><app-reducts-via-discernibility-matrix></app-reducts-via-discernibility-matrix></ng-template>
  </mat-tab>
</mat-tab-group>
