<div class="dashboard">
  <div class="card-container">
    <mat-card class="card" (click)="openPinDialog('information-system')">
      <mat-card-header>
        <mat-card-title>Information System Calculator</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Calculate various information systems.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card" (click)="openPinDialog('metric-dimension')">
      <mat-card-header>
        <mat-card-title>Metric Dimension Calculator</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Calculate various metrics dimensions.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" (click)="openPinDialog('vector-calculator')">
      <mat-card-header>
        <mat-card-title>Feature Vector and Distance Matrix</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Perform vector calculations.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card" (click)="openPinDialog('direct-distance')">
      <mat-card-header>
        <mat-card-title>Property Calculator</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Perform property calculations.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card" (click)="openPinDialog('comparison-analysis')">
      <mat-card-header>
        <mat-card-title>Comparison Analysis</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Various Comparison Analyses</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" (click)="openPinDialog('adjacency-list')">
      <mat-card-header>
        <mat-card-title>Adjacency List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Get .g6 file by Adjacency List</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" (click)="openPinDialog('generate-adjacency-matrix')">
      <mat-card-header>
        <mat-card-title>Generate Adjacency Matrix</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Get Adjacency Matrix by 'n'</p>
      </mat-card-content>
    </mat-card>
    <!-- Add more cards for other calculators as needed -->
  </div>
</div>
